.main-container-home {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-card-holder {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

