:root {
  --form-font: "Bebas Neue", cursive;
  --text-font: "Montserrat", sans-serif;
  --blue: #25489c !important;
  --orange: #9c4923 !important;
}

.App {
  margin: 0 !important;
  padding: 0 !important;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}
